body {
    font-size: 150%;
    background-color: rgb(202, 190, 190);
}

input {
    font-size: larger;
}

.center {
    margin: auto;
    margin-top: 3%;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    margin-left: 1px;
}

li {
    float: left;
}

li a {
    display: block;
    margin-left: 15px;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline
}

li a:active {
    color: red;
}

hr {
    width: 90%;
    margin: auto;
}

select {
    font-size: large;
}


/* tache 2 */

.center {
    background-color: rgb(135, 237, 250);
}

.fullWidth {
    background-color: rgb(9, 160, 127);
    width: 95%;
}

.button {
    padding: 15px;
    color: aliceblue;
    background-color: rgb(5, 202, 5);
}