article {
  margin: auto;
  margin-bottom: 20px;
  width: 90%;
  border: 1px solid black;
  padding: 10px;
}

#main-content {
  font-weight: bold;
  color: red;
}

.important {
  font-style: italic;
}

.link {
  float: right;
  margin-left: 30px;
}

span {
  margin: 10px;
}


form, #result {
  margin: auto;
  margin-bottom: 20px;
  width: 300px;
  padding: 20px;
  border: 1px solid black;
}

#ask-weather {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

#weather-result {
  text-align: center;
  font-size: 34px;
}



form {
  margin: auto;
  max-width: 300px;
  margin-top: 40px;
}

.result {
  text-align: center;
}
